<div class="about row">

    <div class="col-md-8">

        <h2><a href="/assets/files/Shaoyun_CV.pdf">My CV</a></h2>
        <h2>About me</h2>
        
        <p style="font-size: 18px;">I am Shaoyun Wang, currently pursuing a PhD in Mechanical Engineering at the University of Missouri, specializing in wave propagation in elastic time-varying media. My academic journey is deeply rooted in both theoretical physics and engineering mechanics, with my research encompassing areas such as topological physics, non-Hermitian lattices, and active metamaterials. I have substantial experience in developing advanced theoretical frameworks, conducting simulations, and applying numerical methods like FEA to study soft materials and electronics. My work has been recognized through multiple publications and presentations at prestigious conferences, reflecting my passion for innovation and scientific discovery.</p>

        <h2>Contact</h2>

        <ul>
            <li style="font-size: 18px;">Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li style="font-size: 18px;">GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
            <li style="font-size: 18px;">Phone: +1 (573) 489 9584</li>
        </ul>

        <h2>Skill Keywords</h2>

        {% if site.skill_programming_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Programming</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_programming_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_Scientific_simulation_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Scientific Simulation</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_Scientific_simulation_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_Scientific_drawing_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Scientific Drawing</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_Scientific_drawing_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_Design_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Design</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_Design_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>