<footer class="container">

    <div class="site-footer">

        <div class="copyright pull-left">
            <!-- 请不要更改这一行 方便其他人知道模板的来源 谢谢 -->
            <!-- Please keep this line to let others know where this theme comes from. Thank you :D -->
            <a href="https://cmdl.missouri.edu">Group Link</a>
            
        </div>

        <div class="pull-right">
            <a href="javascript:window.scrollTo(0,0)" >TOP</a>
        </div>

        <table class="table_center">
            <td>
                <a href="https://www.facebook.com/shaoyun.wang.9843">
                    <img src="/assets/images/Facebook.png" align="middle" width="35" height="35" border="0"> 
                </a>
            </td>
            <td>
                &ensp;&ensp;&ensp;&ensp;&ensp;
            </td>
            <td>
                <a href="https://scholar.google.com/citations?user=oqbB9WkAAAAJ&hl=en">
                    <img src="/assets/images/GS.png" align="middle" width="40" height="40" border="0">
                </a>
            </td>
            <td>
                &ensp;&ensp;&ensp;&ensp;&ensp;
            </td>
            <td>
                <a href="https://github.com/wangshaoyun">
                    <img src="/assets/images/github.png" align="middle" width="45" height="45" border="0">
                </a>
            </td>
            <td>
                &ensp;&ensp;&ensp;&ensp;&ensp;
            </td>
            <td>
                
                <a href="https://www.researchgate.net">
                    <img src="/assets/images/RG.jpg" align="middle" width="40" height="40" border="0">
                </a>
            </td>
            <td>
                &ensp;&ensp;&ensp;&ensp;&ensp;
            </td>
            <td>
                <a href="https://twitter.com/Shaoyun20">
                    <img src="/assets/images/twitter.png" align="middle" width="35" height="35" border="0">
                </a>
            </td>
        </table>

    </div>

    <!-- Third-Party JS -->
    <script type="text/javascript" src="/bower_components/geopattern/js/geopattern.min.js"></script>

    <!-- My JS -->
    <script type="text/javascript" src="/assets/js/script.js"></script>

    {% for javascript in page.javascript %}
    <script src="/assets/js/{{javascript}}"></script>
    {% endfor %}

    {% if site.analytics.google.tracking_id %}
    <!-- Google Analytics -->
    <div style="display:none">
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ site.analytics.google.tracking_id }}', 'auto');
            ga('send', 'pageview');

        </script>
    </div>
    {% endif %}

</footer>
