<section class="jumbotron geopattern" data-pattern-id="{{ page.title }}">
    <div class="container">
        <div id="jumbotron-meta-info">
            <h1>{{ page.title }}</h1>
            <span class="meta-info">
                {% if page.subtitle %}
                    {{ page.subtitle }}
                {% endif %}
                {% if page.date %}
                <span class="octicon octicon-calendar"></span> {{ page.date | date: "%Y/%m/%d" }}
                {% endif %}
            </span>
        </div>
    </div>
</section>
<script>
    $(document).ready(function(){

        $('.geopattern').each(function(){
            $(this).geopattern($(this).data('pattern-id'));
        });

    });
</script>

<!-- <div class="jumbotron"
    style="background-image: url('https://raw.github.com/wangshaoyun/image/master/202309031741828.png'); background-size: cover; background-position: center; background-repeat: no-repeat; padding: 100px 0; text-align: center; color: white;">
    <div class="container">
        <h1>Welcome to My Website</h1>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
            content or information.</p>
    </div>
</div> -->