<div id="container-open-source">
    <!-- <section class="jumbotron geopattern" data-pattern-id="{{ page.title }}">
        <div class="container">
            <div id="jumbotron-meta-info">
                <h1>Open Source Projects</h1>
                <span class="meta-info">
                    Here are some projects that I worked on.
                </span>
            </div>
        </div>
    </section> -->

    <section class="container">
        <div class="repo-list row">
            <!-- 卡片 1 -->
            <div class="col-md-6 card text-center">
                <div class="thumbnail">
                    <!-- 手动添加图片 -->
                    <div class="card-image">
                        <img src="https://raw.github.com/wangshaoyun/image/master/202410112206955.jpg" alt="Card Image 1"
                            style="width: 100%; border-radius: 4px 4px 0 0;">
                    </div>
                    <div class="caption">
                        <!-- 手动添加的名称 -->
                        <h3 class="card-title">Topological pumping of surface wave</h3>
                        <div class="card-description">
                            <p class="card-text">Topological pumping enables waves to traverse a sample unaffected by disorders or defects. We demonstrate this with elastic surface waves by patterning an elastic surface with resonating pillars connected by slowly varying bridges, forming a synthetic dimension. Using a tight-binding model and WKB analysis, we predict and validate the wave-steering pattern through experiments. These topologically pumped waves remain immune to imperfections, offering a powerful platform for controlling surface waves and exploring topological phenomena.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 卡片 2 -->
            <div class="col-md-6 card text-center">
                <div class="thumbnail">
                    <!-- 手动添加图片 -->
                    <div class="card-image">
                        <img src="https://raw.github.com/wangshaoyun/image/master/202304221754868.png" alt="Card Image 2"
                            style="width: 100%; border-radius: 4px 4px 0 0;">
                    </div>
                    <div class="caption">
                        <!-- 手动添加的名称 -->
                        <h3 class="card-title">Project Name 2</h3>
                        <div class="card-description">
                            <p class="card-text">This is a description for the second project. It provides information about the content.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 卡片 3 -->
            <div class="col-md-6 card text-center">
                <div class="thumbnail">
                    <!-- 手动添加图片 -->
                    <div class="card-image">
                        <img src="assets/images/Research_11.jpg" alt="Card Image 3"
                            style="width: 100%; border-radius: 4px 4px 0 0;">
                    </div>
                    <div class="caption">
                        <!-- 手动添加的名称 -->
                        <h3 class="card-title">Finding temperature insensitive quartz resonator cuts</h3>
                        <div class="card-description">
                            <p class="card-text">AT, FC, IT and SC resonators are widely used since their excellent frequency-temperature characteristic that the first two derivatives of frequency-temperature relation are zero, namely have cubic frequency temperature function. In this paper, we combine the theory and optimization and gain many cuts curves including those existing cuts and the corresponding inflection temperature covers a large range of temperature.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 卡片 4 -->
            <div class="col-md-6 card text-center">
                <div class="thumbnail">
                    <!-- 手动添加图片 -->
                    <div class="card-image">
                        <img src="https://raw.github.com/wangshaoyun/image/master/202410121047006.png" alt="Card Image 4"
                            style="width: 100%; border-radius: 4px 4px 0 0;">
                    </div>
                    <div class="caption">
                        <!-- 手动添加的名称 -->
                        <h3 class="card-title">Project Name 3</h3>
                        <div class="card-description">
                            <p class="card-text">This is a description for the second project. It provides information
                                about the content.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 card text-center">
                            <div class="thumbnail">
                                <!-- 手动添加图片 -->
                                <div class="card-image">
                                    <img src="https://raw.github.com/wangshaoyun/image/master/202410112206955.jpg" alt="Card Image 1"
                                        style="width: 100%; border-radius: 4px 4px 0 0;">
                                </div>
                                <div class="caption">
                                    <!-- 手动添加的名称 -->
                                    <h3 class="card-title">Topological pumping of surface wave</h3>
                                    <div class="card-description">
                                        <p class="card-text">Topological pumping enables waves to traverse a sample unaffected by disorders or defects. We demonstrate this with elastic surface waves by patterning an elastic surface with resonating pillars connected by slowly varying bridges, forming a synthetic dimension. Using a tight-binding model and WKB analysis, we predict and validate the wave-steering pattern through experiments. These topologically pumped waves remain immune to imperfections, offering a powerful platform for controlling surface waves and exploring topological phenomena.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 卡片 2 -->
                        <div class="col-md-6 card text-center">
                            <div class="thumbnail">
                                <!-- 手动添加图片 -->
                                <div class="card-image">
                                    <img src="https://raw.github.com/wangshaoyun/image/master/202304221754868.png" alt="Card Image 2"
                                        style="width: 100%; border-radius: 4px 4px 0 0;">
                                </div>
                                <div class="caption">
                                    <!-- 手动添加的名称 -->
                                    <h3 class="card-title">Project Name 2</h3>
                                    <div class="card-description">
                                        <p class="card-text">This is a description for the second project. It provides information about the content.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </section>
            </div>

<script>
    $(document).ready(function () {
        // Enable bootstrap tooltip (if needed)
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    });
</script>