<div id="container-open-source">
    <!-- <section class="jumbotron geopattern" data-pattern-id="{{ page.title }}">
        <div class="container">
            <div id="jumbotron-meta-info">
                <h1>Open Source Projects</h1>
                <span class="meta-info">
                    Here are some projects that I worked on.
                </span>
            </div>
        </div>
    </section> -->

    <section class="container">
        <div class="repo-list row">
            <!-- 卡片 8 -->
            <div class="col-md-12 card text-center">
                <div class="thumbnail">
                    <!-- 手动添加图片 -->
                    <div class="card-image">
                        <img src="assets/images/fig1_time.png" alt="Card Image 1"
                            style="width: 100%; border-radius: 4px 4px 0 0;">
                    </div>
                    <div class="caption">
                        <!-- 手动添加的名称 -->
                        <h3 class="card-title">Observe Temporal Refraction and Reflection in Elastic Beams</h3>
                        <div class="card-description">
                            <p class="card-text">Direct physical observation of temporal wave refraction in elastic medium has been challenging for decades due to the
                            requirement for rapid and uniform changes in material properties. This study reports the first experimental
                            demonstration of temporal refraction of flexure waves in a continuous mechanical system. By integrating piezoelectric
                            patches with time-varying transfer functions, frequency conversions of flexural wave refraction and reflection are
                            observed experimentally in a time-modulated elastic metabeam featuring single and multi-stepped temporal interfaces.
                            These results are well interpreted using temporal Snell’s law and Fresnel’s equations for temporal interfaces. These
                            findings could provide a new temporal framework for mechanical metamaterials, enabling unconventional wave manipulation,
                            such as adaptive waveform shaping and advanced signal processing technologies.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 卡片 7 -->
            <div class="col-md-12 card text-center">
                <div class="thumbnail">
                    <!-- 手动添加图片 -->
                    <div class="card-image" style="display: flex; justify-content: center; align-items: center;">
                        <img src="assets/images/topological_pumping.png"
                            alt="Card Image 1" style="width: 70%; border-radius: 4px 4px 0 0;">
                    </div>
                    <div class="caption">
                        <!-- 手动添加的名称 -->
                        <h3 class="card-title">Topological Pumping of Surface Waves</h3>
                        <div class="card-description">
                            <p class="card-text">Topological pumping allows waves to navigate a sample undisturbed by disorders and defects. We demonstrate this
                            phenomenon with elastic surface waves by strategically patterning an elastic surface to create a synthetic dimension.
                            The surface is decorated with arrays of resonating pillars that are connected by spatially slow-varying coupling bridges
                            and support eigenmodes located below the sound cone. We establish a connection between the collective dynamics of the
                            pillars and that of electrons in a magnetic field by developing a tight-binding model and a WKB
                            (Wentzel-Kramers-Brillouin) analysis. This enables us to predict the topological pumping pattern, which we validate
                            through numerical and experimental steering of waves from one edge to the other. Furthermore, we observe the immune
                            nature of the topologically pumped surface waves to disorder and defects. The combination of surface patterning and WKB
                            analysis provides a versatile platform for control- ling surface waves and exploring topological matter in higher
                            dimensions.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 卡片 6 -->
            <div class="col-md-6 card text-center">
                <div class="thumbnail">
                    <!-- 手动添加图片 -->
                    <div class="card-image">
                        <img src="assets/images/frieze_group.png" alt="Card Image 1"
                            style="width: 100%; border-radius: 4px 4px 0 0;">
                    </div>
                    <div class="caption">
                        <!-- 手动添加的名称 -->
                        <h3 class="card-title">Topological Spectral Bands with Frieze Groups</h3>
                        <div class="card-description">
                            <p class="card-text">This paper explores how architected materials can be designed using frieze group symmetries to generate specific
                            topological spectral bands. The study uses tools from operator algebra and K-theory to analyze the spectral properties
                            of these materials. It demonstrates how different topological charges are assigned to spectral bands, providing
                            practical methods for spectral engineering. The research offers insights into constructing metamaterials with stable
                            topological dynamics that can be adapted for experimental use. </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 卡片 5 -->
            <div class="col-md-6 card text-center">
                <div class="thumbnail">
                    <!-- 手动添加图片 -->
                    <div class="card-image">
                        <img src="assets/images/odd_density.png" alt="Card Image 1"
                            style="width: 100%; border-radius: 4px 4px 0 0;">
                    </div>
                    <div class="caption">
                        <!-- 手动添加的名称 -->
                        <h3 class="card-title">Odd Mass Density</h3>
                        <div class="card-description">
                            <p class="card-text">This paper investigates active metamaterials with an odd mass density tensor,
                                created by asymmetric active forces. These
                                forces enable non-Hermitian wave behaviors, including directional amplification and non-reciprocal
                                propagation, where
                                waves travel in one direction only. The study also explores the non-Hermitian skin effect, showing
                                wave localization at
                                boundaries, offering insights for wave control in applications like vibration management and
                                structural health
                                monitoring.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 卡片 4 -->
            <div class="col-md-6 card text-center">
                <div class="thumbnail">
                    <!-- 手动添加图片 -->
                    <div class="card-image">
                        <img src="assets/images/twisted_kagome.png" alt="Card Image 1"
                            style="width: 100%; border-radius: 4px 4px 0 0;">
                    </div>
                    <div class="caption">
                        <!-- 手动添加的名称 -->
                        <h3 class="card-title">Homogenization of Twisted Kagome</h3>
                        <div class="card-description">
                            <p class="card-text">This paper develops a microtwist theory to model the topological polarization and zero modes in hinged Kagome lattices.
                            It extends traditional models by accounting for bending, shear, and stretching deformations in the ligaments that
                            connect rigid triangles. Through both theoretical analysis and experimental validation, the study demonstrates how these
                            lattices exhibit non-uniform deformation and asymmetric wave behaviors. The findings offer insights into designing
                            metamaterials with programmable mechanical properties.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 卡片 3 -->
            <div class="col-md-6 card text-center">
                <div class="thumbnail">
                    <!-- 手动添加图片 -->
                    <div class="card-image">
                        <img src="assets/images/cell_list_construct.png" alt="Card Image 4"
                            style="width: 100%; border-radius: 4px 4px 0 0;">
                    </div>
                    <div class="caption">
                        <!-- 手动添加的名称 -->
                        <h3 class="card-title">Cell List Algorithms for Monte Carlo Simulation</h3>
                        <div class="card-description">
                            <p class="card-text">
                                This paper introduces a cell lists method using doubly linked lists for efficient Monte Carlo
                                simulations. It improves
                                particle insertion, deletion, and nonlocal moves (e.g., pivot, reptation) where Verlet lists
                                struggle. With O(N)
                                complexity, the method efficiently handles large displacements in polymer simulations and Metropolis
                                algorithms.
                                Validated through Lennard-Jones fluid simulations, it offers better memory efficiency and
                                scalability than traditional
                                methods.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 卡片 2 -->
            <div class="col-md-6 card text-center">
                <div class="thumbnail">
                    <!-- 手动添加图片 -->
                    <div class="card-image">
                        <img src="assets/images/Research_11.jpg" alt="Card Image 3"
                            style="width: 100%; border-radius: 4px 4px 0 0;">
                    </div>
                    <div class="caption">
                        <!-- 手动添加的名称 -->
                        <h3 class="card-title">Finding Temperature Insensitive Quartz Resonator Cuts</h3>
                        <div class="card-description">
                            <p class="card-text">This paper investigates the optimal orientations of quartz crystal plates with frequency-temperature relations following
                            cubic curves. It develops a theoretical approach to solve the first and second derivatives of these relations,
                            identifying multiple quartz cuts—including AT, FC, IT, and SC cuts—suitable for resonators in varying temperature
                            environments. The research enhances the understanding of frequency stability, providing new insights for applications in
                            high-precision frequency control under both high and low temperatures. </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 卡片 1 -->
            <div class="col-md-6 card text-center">
                <div class="thumbnail">
                    <!-- 手动添加图片 -->
                    <div class="card-image">
                        <img src="assets/images/coverpage_soft_matter.png"
                            alt="Card Image 4" style="width: 100%; border-radius: 4px 4px 0 0;">
                    </div>
                    <div class="caption">
                        <!-- 手动添加的名称 -->
                        <h3 class="card-title">Molecular Simulation of Charged Brushes</h3>
                        <div class="card-description">
                            <p class="card-text">
                            This paper investigates the behavior of branched polyelectrolyte star brushes under external electric fields using Langevin dynamics simulations. It focuses on how polymer conformation, electrostatic interactions, and
                            stratification are influenced by the interplay between the electric field and charged polymer chains. The study
                            provides insights into polymer structure, screening effects, and dynamic responses, offering valuable contributions to the understanding of soft matter systems and applications involving electro-responsive materials.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>

<script>
    $(document).ready(function () {
        // Enable bootstrap tooltip (if needed)
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    });
</script>