.about ul {
    margin-left: 30px;
}

.about p {
    text-indent: 30px;
    font-size: 18px; /* Adjust the size as needed */
    line-height: 1.6; /* Optional: Improve readability */

}

.about .btn {
    margin-bottom: 5px;
}

.MathJax_Processed {
  display: block !important;  /* 强制显示 MathJax 元素 */
  visibility: visible !important;
}

.MathJax_Display {
  text-align: center !important;  /* 确保 displayMath 公式居中 */
}
