/** Only for index.html **/

.site-header{
    color: #fff;
    background: #4183C4; 
}
/*#4183c4;*/
.site-header #site-header-brand {
    color: #fff;
}

.site-header .site-header-nav-item {
    color: #9acfea;
}

.site-header a:hover {
    color: #fff;
}

/*.jumbotron {
    background: #4183c4;
}*/

.jumbotron {
    background-size: cover; /* 背景图片覆盖整个容器 */
    background-position: center; /* 背景图片居中显示 */
    background-repeat: no-repeat; /* 防止图片重复 */
    color: white; /* 设置文本颜色为白色，确保在图片上可见 */
    text-align: center; /* 居中对齐文字 */
}


.site-header.site-header-nav-scrolled a {
    color: #2e2e2e;
}

.site-header.site-header-nav-scrolled #site-header-brand {
    color: #2e2e2e !important;
}

.site-header.site-header-nav-scrolled a:hover {
    color: #4183c4;
}

.MathJax_Processed {
  display: block !important;  /* 强制显示 MathJax 元素 */
  visibility: visible !important;
}

.MathJax_Display {
  text-align: center !important;  /* 确保 displayMath 公式居中 */
}
