/* 容器设置为flexbox布局 */
.card-container {
    display: flex;
    flex-wrap: wrap; /* 允许换行 */
/*    justify-content: space-between; /* 在两张卡片之间留有间隙 */*/
    gap: 0; /* 移除所有卡片间的间隙 */
    margin: 0; /* 确保父容器没有外边距 */
    padding: 0; /* 移除父容器的内边距 */
}

/* 父容器设置为flex布局，允许卡片紧密排列 */
.repo-list {
    display: flex;
    flex-wrap: wrap; /* 允许卡片换行 */
    margin: 0; /* 移除外边距 */
    padding: 0; /* 移除内边距 */
}

.cards {
   width: 48%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}


/* 卡片样式，宽度设置为50%，使每行显示两个卡片 */
.card {
    margin-bottom: auto; /* 底部留出空间，避免卡片之间重叠 */
    display: flex;
    flex-direction: column; /* 让内容垂直排列 */
}
.card-text {
    font-size: 18px; /* 调整卡片文本的字体大小 */
    line-height: 1.6; /* 提高文本的行高 */
}

.card-image {
    display: flex;
    height: auto; /* 设置固定高度 */
    width: 100%;
    overflow-x: hidden;
    border-radius: 4px;
}

/* 确保图片适应卡片大小，不超出边界 */
.card-image img {
    width: 100%;  /* 图片宽度适应卡片 */
    object-fit: cover; /* 保持图片比例并裁剪超出的部分 */
    border-radius: 4px 4px 0 0; /* 图片顶部的圆角与卡片一致 */
}

.card-image .card-image-cell {
    text-align: center;
    margin: auto;
    padding: 10px;
}

.card-image h3 {
    margin: 0;
}

.card-image a {
    color: #fff;
}

.card-description {
    flex-grow: 1; /* 占据剩余空间 */
    padding: 3px; /* 添加一些内边距 */
    text-align: left; /* 描述文字居左 */
    overflow: visible; /* 确保内容不被隐藏 */
}

/*.jumbotron h1, .jumbotron .meta-info {
    color: #fff;
}*/

.card .thumbnail {
    border: 1px solid rgba(0,0,0,0.075);
    border-bottom-color: rgba(0,0,0,0.125);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05),0 5px 10px rgba(0,0,0,0.05);
    -webkit-transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    opacity: 0.8;
}

.card .thumbnail:hover{
    border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.15);
    box-shadow:0 2px 4px rgba(0,0,0,0.05),0 10px 18px rgba(0,0,0,0.1);
    opacity: 1;
}

.card .thumbnail:hover .card-title a{
    color:#000;
    text-decoration:none;
}

.card-text .meta-info {
    margin-right: 2px;
}

.MathJax_Processed {
  display: block !important;  /* 强制显示 MathJax 元素 */
  visibility: visible !important;
}

.MathJax_Display {
  text-align: center !important;  /* 确保 displayMath 公式居中 */
}

